Django==5.2.5
djangorestframework==3.16.1
django-crispy-forms==2.3
crispy-bootstrap4==2024.1
crispy-bootstrap5==2024.10
django-widget-tweaks==1.4.8

gunicorn
psycopg2==2.9.9
python-dotenv==1.1.1
requests==2.32.3
urllib3==2.2.3
tzdata==2024.1
sqlparse==0.3.1
asgiref==3.9.1
pillow==10.4.0
